.flex-container {
    display: flex;
    justify-content: flex-end;
    width: 80%;     
    margin: 0 auto;
}

.nav-links {
    border-bottom: 1px solid grey;
    text-decoration: none;
    
    margin: 0 10px;
}

.nav-links:active {
    color: white;
}

.links-container {
    display: flex;
    justify-content: space-between;

}

@media only screen and (max-width: 700px) {
    .flex-container {
        justify-content: center;
    }
    .nav-links {
        font-size: 1.4rem;
    }
}