.product-form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 10px;

    .center-div {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    .product-image {
        width: 15rem;
        height: 15rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .product-details {
        display: flex;
        flex-direction: column;
        width: 65%;

        input {
            height: 40px;
            width: 100%;
            border: 1px solid grey;
        }
        .btn {
            border-radius: 10px; 
            background: rgb(81, 99, 145);
            border: none;   
            opacity: 0.8;
            transition: 0.3s;
            color: white;
            text-transform: uppercase;
            font-size: 1.7rem;
        }
        .btn:active {
            outline: none;
        }

        .btn:hover {opacity: 1}
    }

    .custom-upload-btn {
        color: white;
        text-align: center;
        margin-top: 5px;
        label {
            background: #516391;
            border-radius: 5px;
            padding: 2px 5px;
            opacity: 0.8;
            transition: 0.3s;
        }

        label:hover {
            opacity: 1
        }
    }
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.black {
    color: black;
}

.yellow {
    color: yellow;
}

.pink {
    color: pink;
}

.brown {
    color: brown;
}

// Background
.bg_red {
    background-color: red;
}
.bg_blue {
    background-color: blue;
}

.bg_green {
    background-color: green;
}

.bg_black {
    background-color: black;
}

.bg_yellow {
    background-color: yellow;
}

.bg_pink {
    background-color: pink;
}

.bg_brown {
    background-color: brown;
}


// Mobile Form Display
@media only screen and (max-width: 700px) {
    .product-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
        padding-top: 0px;

        .center-div {
            display: flex;
            flex-direction: column;
            margin-top: 0px;
            padding-top: 0px;
            width: 80%; 
        }

        .product-image {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            width: 10rem;
            height: 10rem;
        }

        .product-details {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
} 