.product-container {
    display: flex;
    background: rgb(81, 99, 145);
    color: white;
    padding: 20px;
    

    .image-container {
        width: 25rem;
        height: 25rem;

        img {
            width: 25rem;
            height: 25rem;
            border-radius: 10px;
        }
    }

    .product-info {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 700px) {
    .product-container {
        display: flex;
        flex-direction: column;
        border: none;
        width: 95%;

        .image-container,
        .product-info {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }

        .image-container {
            width: 17rem;
            height: 17rem;

            img {
                width: 17rem;
                height: 17rem;
            }
        }
    }
} 