.product-card {
    margin-bottom: 15px;
    padding: 1rem;
    display: block;
    text-decoration: none;
    background: #AEAED1;
    color: rgb(48, 66, 110);


    .pc__flex-container {
        display: flex;
        justify-content: space-between;

        .image {
            height: 7rem;
            width: 7rem;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.select-cat-form {
    margin: 10px 0;
}
@media only screen and (max-width: 700px) {
    .select-cat-form {
        text-align: center;
    }
}