*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    width: 90%;
    max-width: 120rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background: #F6F6F6;
    padding: 20px;
}

.inner-container{
    width: 80%;
    padding: 20px;
    margin: 0 auto;
}

/* @media only screen and (max-width: 767px) {

} */

.mb-5 {
  margin-bottom: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

/* ====== Alerts ====== */

.alert {
    margin-top: 1rem;
    opacity: 0.9;
    text-align: center;
    font-size: 1.2rem;
}

.alert-primary {
    color: #fff;
}

.alert-light {
    background: var(--light-color);
    color: #333;
}

.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.alert-danger {
    color: red;
}

.alert-success {
    background: var(--success-color);
    color: #fff;
}

.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}